.awesomered-text {
	color: red;
}

.berryblue {
	color:blue;
}

.awesomered-bg{
	background-color:red;
	border: 10px solid blue;
	opacity: .5;
}

.awesomered-bg:hover{
	background-color:red;
	opacity:1;
}

.resize{
	width: 1000px;
	height: 650px;
	position: relative;
}

.bluebackground{
	background-color: b3d9ff
}

.deeporange{
	color:  #ff6600;
}

.listpicsize{
	width: 600px;
	height: 600px;
	position: relative;
}

.textpos {
    position:absolute;
}